.title:hover{
    color: rgb(147, 147, 147); 
}

.account:hover{
    color: rgb(147, 147, 147);
    background-color: rgb(221, 221, 221);
}

.menu-account:hover{
    color: rgb(147, 147, 147);
}

.menu-saved-exercises:hover{
    color: rgb(147, 147, 147);
}
