#start-workout{
    margin-top: 1vh;
    padding: 3vw;
}

.search{
    padding:3vw;
}

#create-search{
    margin-left: 3vw;
    margin-right:2vw;
    margin-top: 3vh;
}

.save-workout{
    margin-bottom: 1vh;
}

.save-workout:hover{
    color: rgb(147, 147, 147);
}

.create-new-workout:hover {
    color: rgb(147, 147, 147);
}

.see-stats:hover{
    color: rgb(147, 147, 147);
}

.new-search:hover {
    color: rgb(147, 147, 147);
}

.search-btn:hover{
    color: rgb(147, 147, 147);
}

.exerciseDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}

.exercise-text {
    margin-right: 3vh;
    width: 100px;
}

.lbs-input{
    width: 60px;
    margin-right: 5px;
}

.reps-input{
    width: 60px;
}

.go:hover{
    color: rgb(147, 147, 147);
}